@import url("https://fonts.googleapis.com/css?family=Orbitron&display=swap");

body {
  background-image: url("");
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.container {
  background-color: rgba($color: #fff, $alpha: 0.7);
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}
